
.container__wrapper {
    width: 100vw;
    margin: 0;
}

html {
    font-family: "SFProDisplay-Regular";
}

.error__h2 {
    font-size: 3em;
    color: red;
}

.center__table {
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SFProDisplay-Regular';
}

.error__h2 {
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add__button {
    text-align: center;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9em 1em;
    border-radius: 1em;
    background-color: green;
    width: 9em;
    cursor: pointer;
    transition: 0.4s;
}

.add__button:hover {
    box-shadow:  0 0 3em 0.1em green;
    transition: 0.4s;
}

.krestik {
    /* transform: rotate(45deg); */
    font-size: 0.5em;
    font-weight: bolder;
}

.edit__button {
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    background-color: orange;
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
    transition: 0.4s;
}

.edit__button:hover {
    transition: 0.1s;
    background-color: rgb(216, 140, 0);
    color: rgb(245, 245, 245);
}

.remove__button {
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    background-color: red;
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
    transition: 0.4s;
}

.remove__button:hover {
    transition: 0.1s;
    background-color: rgb(197, 0, 0);
    color: rgb(245, 245, 245);
}

.refresh__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em 1.5em;
    border-radius: 0.75em;
    background-color: #0071e3;
    width: 3rem;
    cursor: pointer;
    transition: 0.4s;

}
.refresh__button a {
    color: white;
    cursor: pointer;
}

.refresh__button:hover{
    opacity: 100%;
    transition: 0.4s;
    /* box-shadow:  0 0 10em 0.2em #0071e3; */
}

.h1__center {
    font-weight: 600;
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__exit {
    float: right;
    margin-left: 20%;
}

.hello__widget {
    margin-left: 25%;
    font-weight: 600;
    margin-bottom: 2%;
}

.logo__text {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 153, 255);
    font-size: 2rem;
}

.table__center {
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-size: cover;
}

.logo__img {
    max-width: 15%;
    min-width: 10%;
}
